body {
  margin: 0;
  padding: 0;
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  cursor: crosshair;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}


.frosted-glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px) brightness(1.9) hue-rotate(217deg) saturate(2.6);
  -webkit-backdrop-filter: blur(10px);
  pointer-events: none;
}

.frosted-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 50%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1.4px) brightness(1.18) hue-rotate(217deg) saturate(2.6);
  pointer-events: none;
  border-radius: 500px;
  transform-origin: center;
  transition: transform 0.2s ease;
}

.frosted-circle2 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 50%;
  height: 60%;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(1.4px) brightness(1.18) hue-rotate(217deg) saturate(2.6);
  pointer-events: none;
  border-radius: 500px;
  z-index: 2;
  transform-origin: center;
  transition: transform 0.2s ease;
}

/* Slider Styles */
.slider-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  backdrop-filter: none;
  border-top: none;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 80%;
}

.slider {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  scrollbar-width: none; 
}

.slider::-webkit-scrollbar {
  display: none; 
}

.slider a {
  min-width: 160px;
  text-align: center;
  padding: 12px 20px;
  background: transparent;
  margin: 18px;
  border-radius: 25px;
  text-decoration: none;
  color: rgb(142, 138, 138);
  font-weight: bold;
  transition: transform 0.3s ease, background 0.3s ease;
  border: none;
}

.slider a:hover {
  transform: scale(1.1);
  background: rgba(209, 211, 250, 0.2);
}

.arrow {
  cursor: pointer;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.arrow-left {
  left: -40px;
}

.arrow-right {
  right: -40px;
}

.text{
  margin-right: 70px;
  font-family: "Special Elite", serif;
margin-bottom:500px;
color: rgba(0, 0, 0, 0.452);
}